<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration</directory>
        </testsuite>
        <testsuite name="Acceptance">
            <directory suffix="Test.php">./tests/Acceptance</directory>
        </testsuite>
    </testsuites>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <extensions>
        <!-- it begins a database transaction before every testcase and rolls it back after
             the test finished, so tests can manipulate the database without affecting other tests -->
        <!-- <extension class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/> -->

        <!-- Run `composer require symfony/panther` before enabling this extension -->
        <!-- <extension class="Symfony\Component\Panther\ServerExtension" /> -->
    </extensions>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="Smoothie\ContractorTools\Symfony\Kernel"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="11.2"/>

        <env name="DATABASE_URL" value="sqlite:///%kernel.project_dir%/var/testing.db" />
        <!-- <env name="DATABASE_URL" value="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=8.0.32&amp;charset=utf8mb4" />-->
        <!-- <env name="DATABASE_URL" value="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&amp;charset=utf8mb4" />-->
        <!-- <env name="DATABASE_URL" value="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&amp;charset=utf8" />-->
    </php>
</phpunit>
